@font-face {
  font-family: 'Muli';
  src:
    url('../fonts/Muli-Regular.woff') format('woff'),
    url('../fonts/Muli-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

@font-face {
  font-family: 'Nunito';
  src:
    url('../fonts/Nunito-Regular.woff') format('woff'),
    url('../fonts/Nunito-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}