.btn
  border: none
  box-sizing: border-box
  border-radius: 4px
  cursor: pointer
  background-color: #EC1F46
  color: #ffffff
  font-family: Nunito
  font-style: normal
  font-weight: 600
  font-size: 14px
  line-height: 19px
  width: 120px
  height: 40px
  transition: all 0.4s ease-in-out
  &:hover
    box-shadow: none
    background-color: #ffffff
    color: #EC1F46

  &:active, &:focus 
    outline: none

