@media  screen and (min-width : 1105px) and (max-width : 1200px)
  .battle
    &__cards
      margin: 10px
  .cards
    display: flex
    justify-content: center
  .cardSmall
    margin-right: 10px
    margin-left: 10px
  .cardBig
    margin-right: 0
@media  screen and (min-width : 780px) and (max-width : 1104px)
  .battle
    &__cards
      margin: 10px
  .cards
    display: flex
    justify-content: center
  .cardSmall
    margin-right: 10px
    margin-left: 10px
  .cardBig
    margin-right: 0
